<div class="container">
    <div class="row justify-content-center">
        <div class="col-8 col-md-4 ">
            <form method="POST" action="/contact">
                <div class="mb-3">
                    <label for="name" class="form-label">name</label>
                    <input type="text" class="form-control" id="name" name="name" required >
                </div>
                <div class="mb-3">
                  <label for="phone" class="form-label">handphone</label>
                  <input type="number" class="form-control" id="phone" name="phone"  required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                  </div>
                
                <button type="submit" class="text-center justify-items-center btn btn-dark text-warning" value="add">Submit</button>
              </form>

        </div>
    </div>
  </div>