
<h1 class="bg-danger">contact</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">phone</th>
        <th scope="col">email</th>
        <th scope="col">info</th>
      </tr>
    </thead>
    <tbody>
      
        <% contacts.forEach((contact, i) => { i++ %>
        <tr>
        <th scope="row"><%= i %></th>
        <td><%= contact.name %></td>
        <td><%= contact.phone %></td>
        <td><%= contact.email %></td>
        <td>
          <a href="">edit</a>
          </td>

        </tr>
        <% }) %>
       
      
    </tbody>
  </table>